<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khareedari</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">Khareedari</div>
            <div class="search-bar">
                <input type="text" placeholder="Search for products, brands and more">
                <button type="button">Search</button>
            </div>
            <div class="hamburger-menu">
                <span>&#9776;</span>
                <div class="dropdown-content">
                    <div class="section">
                        <h3>Trending</h3>
                        <ul>
                            <li>Best Sellers</li>
                            <li>New Releases</li>
                            <li>Movers and Shakers</li>
                        </ul>
                    </div>
                    <div class="section">
                        <h3>Digital Content and Devices</h3>
                        <ul>
                            <li>Audiobooks</li>
                            <li>Alexa</li>
                            <li>Firestick</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        
    </main>
    <footer>
        
    </footer>
</body>
</html>
